{
    "extends": ["airbnb-base/legacy"],
    "rules": {
        "max-len": [2, 200],
        "no-undef": "off",
        "no-plusplus": "off",
        "consistent-return": "off",
        "wrap-iife": "off",
        "no-use-before-define": "off",
        "no-mixed-operators": "off"
    }
}